.contents-wrapper {
  background-color: #F8F9FA;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.main-left-wrapper {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.main-right-wrapper {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.main-with-loader {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.main-with-loader > div {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-with-loader > div > svg{
  margin-top: 20%;
}