/*여기서부터 메시지 리스트*/
.message-list-wrapper{
  position: relative;
  vertical-align: top;
  display: inline-block;
  background-color: #FDFDFC;
  border-right: 1px solid #E6E6E6;
  width: 50%;
  height: 100%;
}

.message-list-wrapper > div:first-of-type{
  position: relative;
  top: 0;
  left: 0;
  height: calc(100% - 50px);
  border-color: #E6E6E6;
  text-align: center;
}

.best-chat-wrapper {
  position: absolute;
  top: 20px;
  left: 25px;
  width: calc(100% - 50px);
  height: 70px;
  border-radius: 10px;
  background-color: #F1F3F5;
  z-index: 3;
  overflow: hidden;
}

.best-chat-fa {
  vertical-align: top;
  font-size: 40px;
  margin: 13px 22px 0 22px;
  color: #ffa700;
}

.best-chat-contents-wrapper {
  display: inline-block;
  width: calc(100% - 140px);
}

.best-chat-toggle {
  vertical-align: top;
  font-size: 40px;
  margin: 15px 10px 0 20px;
  text-align: right;
  color: #454545;
}

.best-chat-contents-item {
  display: block;
  min-height: 58px;
  margin: 13px 5px;
  border-bottom: 1px solid #bdc6c9;
}

.best-chat-contents-item:last-of-type {
  border: none;
}

.best-chat-contents-item .bubble-side-wrapper{
  vertical-align: top !important;
  min-width: 55px;
  padding-right: 15px;
  text-align: right;
}

.best-chat-contents-item .message-thumb-up {
  position: relative;
  display: inline;
  border: none;
  cursor: default;
}

.best-chat-contents-item .message-thumb-up:hover{
  border: none;
}

.best-chat-rank { 
  vertical-align: top;
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 0;
}

.best-chat-contents-item .user-my-profile-top {
  display: inline-block;
  width: calc(100% - 150px);
}

.best-chat-contents-item .avatar-wrapper {
  width: 45px;
  height: 45px;
}

.best-chat-contents-item .user-my-profile-text {
  width: calc(100% - 70px);
}

.best-chat-contents-item .user-my-profile-nickname {
  font-size: 20px;
  margin-top: -5px;
}

.best-chat-contents {
  font-family: 'NanumSquare' !important;
  font-size: 17px !important;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.best-chat-created-at {
  position: absolute;
  right: 80px;
  display: inline-block;
}

.best-chat-created-at time {
  display: block;
  font-size: 14px;
  margin: 2px 0 2px 0;
  color: #454545;
}

.message-list-chat-wrapper{
  position: absolute;
  top: 90px;
  left: 0;
  height: calc(100% - 140px);
  width: 100%;
  overflow-y: scroll;
  padding: 20px 35px 20px;
  text-align: center;
}

.message-list-wrapper svg {
  margin-top: calc(50% - 130px);
}

.message-list-empty {
  display: block;
  margin-top: calc(50% - 80px);
}

.message-list-empty > img{
  width: 130px;
  height: 130px;
}

.message-list-empty > p {
  color: #7b68a1;
  font-size: 20px;
  font-weight: bold;
}

/*여기서부터 말풍선*/
.bubble-wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 42px;
  margin-bottom: 8px;
}

.bubble-wrapper:last-of-type {
  margin-bottom: 20px;
}

.bubble-wrapper:last-of-type {
  margin-bottom: 10px;
}

.wrapper-me {
  text-align: right;
}

.wrapper-you {
  text-align: left;
}

.bubble-profile-wrapper {
  position: relative;
}

.bubble-profile-wrapper .avatar-wrapper {
  position: absolute;
  top: 3px;
  width: 50px;
  height: 50px;
}

.bubble-title-name {
  display: inline-block;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wrapper-you .bubble-title-name {
  margin-left: 65px;
}

.start-date-wrapper {
  position: relative;
  display: block;
  padding: 10px 0;
}

.message-start-date {
  position: absolute;
  width: 145px;
  top: 15px;
  left: calc(50% - 78px);
  padding: 0 5px;
  background-color: #FDFDFC;
}

.bubble-side-wrapper{
  position: relative;
  display: inline-block;
  min-width: 72px;
  height: 42px;
  vertical-align: bottom !important;
}

.bubble-image {
  max-width: 100%;
  padding: 9px 0;
}

.message-created-at {
  position: absolute;
  font-size: 12px;
  min-width: 72px;
  bottom: -3px;
  margin: 0px 8px;
  padding-top: 2px;
}

.wrapper-me .message-created-at {  
  right: 0;
}

.wrapper-you .message-created-at {  
  left: 0;
}

.message-thumb-up {
  position: absolute;
  background-color: #FDFDFD;
  border-radius: 5px;
  border: 1px solid #e3e8ea;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  padding: 1px 8px;  
  font-size: 14px;
  top: 0px;
  z-index: 2;
  cursor: pointer;
}

.message-thumb-up:hover {
  border: 1.5px solid #4f8bef;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;

}

.wrapper-me .message-thumb-up {
  right: 8px;
}

.wrapper-you .message-thumb-up {
  left: 8px;
}

.message-thumb-up-count {
  margin-left: 5px;
  color: #454545;
}

.message-thumb-up-fa {
  color: #a6abad;
}
.i-liked-it .message-thumb-up-fa {
  color: #0057e7;  
}

.bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  min-height: 42px;
  padding: 4px 16px;
  max-width: calc(100% - 140px);
  font-family: "NanumSquare", "Open Sans" !important;
  font-weight: 400 !important;
  vertical-align: bottom;
}

.bubble-contents {
  display: table-cell;
  height: 34px;
  vertical-align: middle;
}

.bubble-triangle {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  transform: rotate(29deg) skew(-35deg);
}

.start-true.bubble-you .bubble-triangle {
  left: -4px;
  background-color: #e3e8ea;
}

.start-true.bubble-me .bubble-triangle {
  right: -5px;
  background-color: #6632b5;
}

.start-true.bubble-you.bubble-speaker .bubble-triangle {
  left: -4px;
  background-color: #d62d20;
}

.start-true.bubble-me.bubble-speaker .bubble-triangle {
  right: -5px;
  background-color: #d62d20;
}

.bubble-speaker {
  position: relative;
  margin-top: 5px;
  background-color: #d62d20 !important;
  padding: 25px 20px 20px 20px;
  color: white !important;
}

.start-true.bubble-you.bubble-speaker {
  margin-top: 0 !important;
}

.bubble-speaker img:nth-of-type(1) {
  position: absolute;
  top: -7px;
  width: 75px;
}

.bubble-me.bubble-speaker img:nth-of-type(1) {
  left: -85px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.bubble-you.bubble-speaker img:nth-of-type(1) {
  right: -85px;
}

.bubble-speaker img:nth-of-type(2) {
  position: absolute;
  top: 0;
  width: 60px;
  height: 25px;
}

.bubble-me.bubble-speaker img:nth-of-type(2) {
  left: 10px;
}

.bubble-you.bubble-speaker img:nth-of-type(2) {
  right: 10px;
}


.bubble-you {
  color: black;
  background-color: #e3e8ea;
  margin-left: 65px;
}

.bubble-me {
  color: white;
  background-color: #6632b5;
}

/*여기서부터 폼*/
.message-write{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding-left: 8px;
  background-color: #FDFDFC;
  border-radius: 5px;
}

.message-write:focus{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.message-text{
  position: relative;
  display: block;
  font-size: 16px !important;
  float: left;
  width: 100% !important;
  height: 48px !important;
  padding: 10px 140px 10px 50px!important;
  color: #454545;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  border-right: 1px solid #F1F1F1 !important;
}

.msg-form-button {
  border: none;
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  right: 15px !important;
  top: 0px !important;
  display: inline-block !important;
  background: none !important;
  width: 30px !important;
  box-shadow: none !important;
  height: 100% !important;
  text-align: center !important;
  cursor: pointer !important;
}

.msg-form-button span {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.4;
  color: #898989;
}

.message-write-fa {
  font-size: 25px !important;
  color: #bdc6c9;
}

.speaker-button {
  background: none;
  border: none;
  position: absolute;
  left: 0px !important;
  height: 100%;
  padding-left: 15px !important;
}

.customeTheme {
  background-color: rgba(255, 128, 0, 0.75) !important;
}

.customeTheme p {
  font-size: 15px;
  margin: 0;
  text-align: center;
  font-family: "NanumSquare", "Open Sans";
}

.location-button {
  right: 65px !important;
}

.image-button {
  right: 100px !important;
}

.message-vl {
  display: block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 9px;
  bottom: 7px;
  right: 55px;
}

#file { width:0; height:0; }          

.react-confirm-alert-body {
  text-align: center !important;
}
.react-confirm-alert-body h1 {
  font-size: 24px !important;
  font-family: "NanumSquare" !important;
  font-weight: bold;
}

.react-confirm-alert-body #text {
  font-size: 22px;
  font-family: "NanumSquare" !important;
}

.react-confirm-alert-button-group {
  display: inline-block !important;
  width: 150px !important;
  text-align: center !important;
}

.react-confirm-alert-button-group button {
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: "NanumSquare" !important;
  width: 70px !important;
  margin: 0 !important;
}

.react-confirm-alert-button-group button:first-of-type {
  background-color: #6632b5 !important;
  margin-right: 10px !important;
}